# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
build/
bld/
[Bi]n/
[Oo]bj/
[Log]s/

# Visual Studio cache directory
.vs/
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini
